#!/bin/bash
set -e # Exit immediately if any command fails

apt-get update
apt-get install -y docker.io
systemctl enable docker
systemctl start docker

# Add admin user to docker group
usermod -aG docker admin

docker pull ${image_name}

docker run -d \
  --restart unless-stopped \
  -p ${host_port}:${container_port} \
  -e DATABASE_URL='${database_url}' \
  ${image_name}